[package]
authors = ["Jorge Aparicio <jorge@japaric.io>"]
categories = ["embedded", "hardware-support"]
description = "Implementation of the `embedded-hal` traits for Linux devices"
keywords = ["Linux", "hal"]
license = "MIT OR Apache-2.0"
name = "linux-embedded-hal"
repository = "https://github.com/japaric/linux-embedded-hal"
version = "0.3.0"

[features]
default = ["sysfs_gpio"]

gpio_cdev = ["gpio-cdev"]

[dependencies]
embedded-hal = { version = "0.2.3", features = ["unproven"] }
i2cdev = "0.4.3"
spidev = "0.4"
serial-unix = "0.4.0"
serial-core = "0.4.0"
nb = "0.1.1"
sysfs_gpio = { version = "0.5", optional = true }
gpio-cdev = { version="0.2", optional = true }

[dev-dependencies]
openpty = "0.1.0"

[dependencies.cast]
# we don't need the `Error` implementation
default-features = false
version = "0.2.2"
